---

---

<footer class="pt-16 pb-12 sm:pt-24 sm:pb-16 px-3 sm:px-12 max-w-5xl mx-auto">
    <p class="text-sm">
        (C) 2026
        <a href="http://kleinefeinschmeckerei.de/" class="decoration-dashed text-primary underline-offset-8"> Kleine Feinschmeckerei </a>
        &nbsp;&nbsp;
        <a href="https://besseressen-ka.de/" class="decoration-dashed text-primary underline-offset-8"> besser essen </a>
        &nbsp;&nbsp;
        <a href="https://besseressen-ka.de/impressum/" class="decoration-dashed text-primary underline-offset-8"> Impressum </a>
        &nbsp;&nbsp;|&nbsp;&nbsp; * aus biologischem Anbau
    </p>
</footer>
